<div class="pure-menu social">
  <h3>Projects</h3>

  <ul class="pure-menu-list">  
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="/diecutdigest">Die Cut Digest</a>
    </li>

    <li class="pure-menu-item">
      <a class="pure-menu-link" href="/readingandresourcelist/"> Reading Lists</a>
    </li>

    <li class="pure-menu-item">
      <a class="pure-menu-link" href="/robotsocialengineering/">Robot Social Engineering</a>
    </li>    

    <li class="pure-menu-item">
      <a class="pure-menu-link" href="/robotskiing/">Robot Skiing</a>
    </li>     
  </ul>
</div>   
