{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Site.Params.subtitle }}</h2>
</div>

<div class="content">
  <p><img src="/images/Straithe_photo.jpg" alt="Straithe Photo"></p>

  <h2 id="about">Hello, neighbours!</h2>

  <p> 
    I'm Straithe! I am an open source hardware maintainer and technical community manager with 10+ years experience as a privacy and computer security researcher. Currently I am working with Great Scott Gadgets as technical community manager. Most of my time is spent on product/project management, design, and communications, both at work and at play. Outside of Great Scott Gadgets I freelance as a content creator and community management consultant. 
  </p>

  <p>
    I have a Master's of Mathematics in Computer Science from the University of Waterloo where I was a part of the Cryptography, Security, and Privacy (CrySP) research group. My main research during my master's was on physical robots as agents for social engineering. I still have a deep love of research related to robot security and perception of privacy around robots. Other academic achievements include an Honours Degree in Computer Science from the University of Manitoba and a Dipoma in Business Administration from Red River College. 
  </p>  

  <p>
    Another of my passions is my online store, Haxessories. I have set up this store with the goal of providing content creators, makers, and other folks with a way to productize their projects without having to do much of the work. At Haxessories I handle any of manufacturing, packaging, graphics design, shipping, and any other task so these creators can get a higher income to effort ratio and keep focusing on making great things that they are passionate about. I truly appreciate opportunities to support others and bring them more joy by handling administration and organization. 
  </p>  

  <p>
    With the rest of my time I am thriving on diving into 3D modeling and printing, photography and photo editing, graphic design, modeling, dance, and creating bizarre and abstract art pieces that bring me joy. Updates on most of these projects can be found on my various forms of social media. 
  </p>
</div>

{{ partial "footer.html" . }}
