{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Site.Params.subtitle }}</h2>
</div>

<div class="content">
  <p><img src="/images/Straithe_photo.jpg" alt="Straithe Photo"></p>

  <h2 id="about">Hello, neighbours!</h2>

  <p> 
    I'm Straithe! I am an open source hardware maintainer and technical community manager with 10+ years experience as a privacy and computer security researcher. Most of my time is spent on research, project management, design, and communications. Right now I am freelancing as a researcher, community management consultant, content creator, and artist. 
  </p>

  <p>
    I have a Master's of Mathematics in Computer Science from the University of Waterloo where I was a part of the Cryptography, Security, and Privacy (CrySP) research group. My main research during my master's was on physical robots as agents for social engineering. I still have a deep love of research related to robots, robot-related security, and perception of privacy around robots. Other academic achievements include an Honours Degree in Computer Science from the University of Manitoba and a Dipoma in Business Administration from Red River College. 
  </p>  

  <p>
    With the rest of my time I am thriving on 3D modeling and printing, photography and photo editing, graphic design, modeling, dance, and creating abstract art pieces that bring me joy. Updates on most of these projects can be found on my various forms of social media. 
  </p>
</div>

{{ partial "footer.html" . }}
