{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Site.Params.subtitle }}</h2>
</div>

<div class="content">
<h2 id="about">ABOUT</h2>

<p>Describing yourself is hard, but this is probably pretty accurate:</p>
<blockquote>
<p>&ldquo;Straithe is an open source maintainer and supporter. She works for Great Scott Gadgets where she focuses on enabling and supporting the community. Her other pursuits include photography, video games, cooking fancy meals, and researching security, privacy, and robots.&rdquo;</p>
</blockquote>
<p>When others have described me, they have been known to say:</p>
<blockquote>
<p>&ldquo;Brittany is a William Gibson character that has walked off the page&rdquo;.</p>
<p>&ldquo;Straithe: Idea factory and robot aficionado&rdquo;.</p>
<p>&ldquo;She is a graduate student by day, and a slightly more tired graduate student by night. Brittany enjoys entirely theoretical discussions about the best ways in which a hypothetical supervillain might cause the rapid development of key areas of technology. &hellip; and also, jellyfish&rdquo;.</p>
<p>&ldquo;Brittany is a social robotics, privacy and security, and human-computer interaction researcher rooted in the University of Waterloo&rsquo;s Cryptography, Security, and Privacy Lab. Her usual research pursuits stem from looking at a situation and asking, &lsquo;but what happens when we add robots to this?&rsquo;, or &lsquo;what would the robots do?&rsquo;. These questions have led to a research career in which Brittany studies the impacts of robots as social engineers, robot hacking, and IoT systems.&rdquo;</p>
</blockquote>
</div>

{{ partial "footer.html" . }}
